$yellow-color: #ffe20c;

body {
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, Arial, sans-serif;
  margin: 0;
  font-size: 14px;
  background-color: black;
}

h1,
h2,
h3,
h4 {
  font-family: "Aoboshi One", "Source Sans Pro", "Hiragino Kaku Gothic ProN", Meiryo, Arial,
    sans-serif;
}

a {
  text-decoration: none;
}

h2 {
  color: $yellow-color;
  font-size: 35px;
  font-weight: bolder;
  margin: 30px 0 0 0;
}

h3 {
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 20px 0;
}
