/* PC、SP共通スタイル SPメインです */
@use "list" as l;

.ba-image {
  width: 100vw;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 30% 0;
}

.top-all {
  z-index: 100;
}
header {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 160px;
  margin: 20px 0 0 20px;
}
.logo-img {
  width: 100%;
}

.navi-sp-main {
  margin: 15px 15px 0 0;
}

.menu-sp {
  width: 50px;
  fill: white;
}

#nav-sp {
  background-color: l.$yellow-color;
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  height: 100%;
  display: none;
  z-index: 100;
  opacity: 0.9;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;

  width: 39px;
}

.menu-main {
  margin-top: 120px;
}
.menu {
  display: block;
  margin: 10px 20px 0 20px;
  height: 39px;
  font-size: 16px;
  font-weight: bold;
  color: black;
}

.top-main {
  margin: 0 20px 0 30px;
  padding-bottom: 200px;
}

h1 {
  color: white;
  font-size: 41px;
  margin: 100px 0 50px 0;
  line-height: 1.1;
}
.motto-btn-mai {
  display: block;
}

.mottomiru-btn {
  margin-bottom: 20px;
  background-color: l.$yellow-color;
  width: 150px;
  padding: 10px 18px;
  border: none;
  border-radius: 12px 0 12px 12px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s, color 0.7s ease 0.2s, position 2s;

  &:hover {
    background-color: #f9fe00;
    color: #313131;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
    position: relative;
    top: -3px;
    left: -3px;
    cursor: url(../images/al16.cur), auto;
  }

  &:active {
    box-shadow: none;
    position: relative;
    top: 0;
    left: 0;
  }

  img {
    width: auto;
    height: 14px;
    margin: 0 5px 0 0;
    vertical-align: -2px;
  }
}

// 回転ボタン
.mottomiru-btn2 {
  position: relative;
  display: inline-block;

  width: 100%;
  max-width: 150px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  outline: none;

  span {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;

    font-weight: 700;
    overflow: hidden;
    /* 重なりを3Dで表示 */
    transform-style: preserve-3d;
    /* アニメーションの設定 数字が少なくなるほど早く回転 */
    transition: 0.5s;

    // background-color: l.$yellow-color;
    // padding: 10px 18px;
    // border-radius: 12px 0 12px 12px;
    // color: black;
    // font-weight: bold;
  }

  img {
    width: auto;
    height: 50px;
    text-align: center;
  }
}

.btn-sp-1 {
  border-radius: 0 0 12px 12px;
}

.btn-sp-2 {
  border-radius: 12px 12px 0 0;
}

.btn2-rotate {
  /* 回転前 */
  span {
    &:nth-child(1) {
      background: l.$yellow-color;
      color: #000;
      transform: rotateX(0deg); /*はじめは回転なし*/
      transform-origin: 0 50% -25px; /* 回転する起点 */
    }
  }
  /*hoverをした後の形状*/
  &:hover {
    span {
      &:nth-child(1) {
        transform: rotateX(-90deg); //X軸に-90度回転
      }
    }
  }

  /* 回転後 */
  span {
    &:nth-child(2) {
      background: l.$yellow-color;
      color: #000;
      transform: rotateX(90deg); /*はじめはX軸に90度回転*/
      transform-origin: 0 50% -25px; /* 回転する起点 */
    }
  }
  /*hoverをした後の形状*/
  &:hover {
    span {
      &:nth-child(2) {
        transform: rotateX(0deg); // X軸に0度回転
      }
    }
  }
}

// 回転ボタン↑

// alienページ　SP-------------------------------

#alien {
  margin: 0;
}
.alien-main {
  margin-left: 20px;
}

.alien-photo-main {
  display: flex;
  flex-wrap: wrap;
}

.alien-photo {
  width: 767px;
  height: 300px;
  overflow: hidden;
  margin: 0 20px 20px 0;
  border-radius: 20px;
  flex-direction: column;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;

    &:hover {
      transform: scale(1.35, 1.35);
    }
  }
}

// alien-photoギャラリー------------------------------------

// enjoy SP---

#enjoy {
  margin: 0;
}

.enjoy-main {
  margin: 0 20px;
}

.enjoy-item-main {
  border: solid 1px l.$yellow-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 12px;
  // transition: background-color 0.5s;

  // &:hover {
  //   background-color: rgb(49, 49, 49);
  // }
}

.enjoy-photo {
  width: 130px;
  height: 130px;
  overflow: hidden;
  margin: 30px auto 20px auto;
  border-radius: 20px;
  cursor: url(../images/al16-y.cur), auto;
  transition: opacity 0.3s;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &:hover {
    opacity: 0.3;
  }
}

.enjoy-item {
  margin: auto 20px;
  text-align: center;

  h4 {
    color: l.$yellow-color;
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 10px 0;
  }

  p {
    color: gray;
    margin: -5px 0 20px 0;
    text-align: left;
  }
}

.item-c {
  margin: 0 -5px 18px 0;
}

// ----btn-1-----------------------------------------

.btn-s-1 {
  position: relative;
  overflow: hidden;
  display: inline-block;
  background-color: l.$yellow-color;
  color: black;
  border: 1px solid l.$yellow-color; /* ボーダーの色と太さ */
  text-align: center;
  margin-right: 5px;
  padding: 5px 15px;
  width: 150px;
  border-radius: 12px 0 12px 12px;
  margin: 0 0 10px 0;
  font-weight: bold;

  /*アニメーションの指定*/
  transition: ease 0.2s;

  span {
    position: relative;
    z-index: 3; /*z-indexの数値をあげて文字を背景よりも手前に表示*/
    color: black;
  }

  &:hover {
    span {
      color: l.$yellow-color;
    }
  }
}

/*== 背景が流れる（斜め） */
.bgskew::before {
  content: "";
  /*絶対配置で位置を指定*/
  position: absolute;
  top: 0;
  left: -130%;
  /*色や形状*/
  background: #333;
  width: 120%;
  height: 100%;
  transform: skewX(-25deg);
}

/*hoverした時のアニメーション*/
.bgskew:hover::before {
  animation: skewanime 0.5s forwards; /*アニメーションの名前と速度を定義*/
}

@keyframes skewanime {
  100% {
    left: -10%; /*画面の見えていない左から右へ移動する終了地点*/
  }
}

// ----btn-2-------------------------------------------

.btn-s-2 {
  position: relative;
  overflow: hidden;
  display: inline-block;
  background-color: l.$yellow-color;
  color: black;
  border: 1px solid l.$yellow-color; /* ボーダーの色と太さ */
  text-align: center;
  margin-right: 5px;
  padding: 5px 15px;
  width: 150px;
  border-radius: 0 12px 12px 12px;
  margin: 0 0 10px 0;
  font-weight: bold;
  transition: ease 0.2s;

  span {
    position: relative;
    z-index: 3; /*z-indexの数値をあげて文字を背景よりも手前に表示*/
    color: black;
  }
  &:hover {
    span {
      color: l.$yellow-color;
    }
  }
}
/*== 背景が流れる（中央から外） */

.bgcenterout:before {
  content: "";
  /*絶対配置で位置を指定*/
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  /*色や形状*/
  background: #333;
  width: 100%;
  height: 100%;
  /*アニメーション*/
  transition: transform 0.3s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  transform: scale(0, 0);
  transform-origin: center;
}

/*hoverした際の形状*/
.bgcenterout:hover:before {
  transform: scale(1, 1);
}

// ----btn-2------------------------------------

// お問い合わせPC

#inquiry {
  margin: 0 20px;
}

.inquiry-main {
  p {
    color: white;
    margin: 0;
  }
}

form {
  margin-top: 30px;
}

.form-item-main {
  margin-bottom: 30px;
}

.form-item-title {
  label {
    color: white;
  }
}

.form-content {
  margin-top: 3px;
  color: white;
}

.contact-textbox {
  height: 35px;
  border: solid 1px white;
  background-color: rgb(218, 218, 218);
  width: 95%;
}

.contact-texarea {
  height: 100px;
  border: solid 1px white;
  background-color: rgb(218, 218, 218);
  width: 95%;
}

.contact-submit {
  padding: 5px 15px;
  background-color: l.$yellow-color;
  margin: 0 0 20px 2px;
  border: none;
  font-weight: 600;
  box-shadow: 5px 5px 2px rgb(0, 0, 0);
  position: relative;
  top: -2px;
  left: -2px;

  &:hover {
    background-color: #f9f3c7;
    cursor: pointer;
  }

  &:active {
    box-shadow: none;
    position: relative;
    top: 0;
    left: 0;
  }
}

// SPで必要ない--------------------------------------------------------------------

.navi-pc,
.navi-button {
  display: none;
}

// --------------------------------------------------------------------
// PC用に必要なコード
// PC-768px以上

@media screen and (min-width: 768px) {
  // PCで必要ない
  #nav-sp,
  .menu-sp,
  .menu-main,
  .navi-sp-main {
    display: none;
  }

  #top {
    background-attachment: fixed;
  }

  header {
    align-items: flex-start;
  }

  .navi-pc {
    display: block;
    margin: 5px 20px 0 10px;

    ul {
      display: flex;
      align-items: center;
    }

    li {
      list-style: none;
    }
  }

  .navi-con {
    margin-left: 20px;
    font-weight: 600;
    font-size: 14px;
    color: white;

    a {
      &:link,
      &:visited,
      &:active {
        color: white;
      }

      &:hover {
        color: l.$yellow-color;
      }
    }
  }

  .navi-button {
    display: block;
    background-color: grey;
    margin-left: 20px;
    font-size: 12px;
    font-weight: 600;
    padding: 5px 12px;
    border-radius: 7px;
    transition: background-color 0.7s, color 0.7s ease 0.2s;
    color: white;

    a {
      color: white;
      text-decoration: none;

      &:hover {
        color: black;
      }
    }

    &:hover {
      background-color: l.$yellow-color;
      color: black;
    }
  }

  .top-main {
    margin-left: 100px;
    padding-bottom: 300px;
  }

  h1 {
    font-size: 70px;
    margin: 100px 0 30px 0;
  }

  // alienページ　PC

  .alien-photo {
    width: auto;
    height: 300px;
    flex-basis: calc(33.33% - 20px);
  }

  // enjoy PC
  .enjoy-item-main {
    width: auto;
    flex-direction: row;
    justify-content: flex-start;
  }

  .enjoy-photo {
    flex-direction: row;
    margin: 25px;
  }

  .enjoy-item {
    margin: 20px 0 0 0;
    text-align: left;
    width: auto;
  }

  // お問い合わせPC

  .form-item-main {
    display: flex;
    flex-wrap: wrap;
  }

  .form-item-title {
    width: 130px;
    align-self: center;
  }

  .contact-textbox {
    width: 350px;
  }

  .contact-texarea {
    width: 350px;
  }
}
.contact-texarea {
  width: 350px;
}
