@use "bousai_list" as l;

#top {
  width: 100%;
}
.top-main {
  display: block;
  position: relative;
  margin: 0 16px;
}

.bousai_logo {
  text-align: right;
  img {
    width: 200px;
  }
}

.bousai_h3 {
  margin: 0;
  h3 {
    font-size: 14px;
  }
}

#menu {
  margin-top: 50px;
}

.content-menu-main {
  display: block;
  margin: 0 16px;
}
.content {
  display: flex;
  align-items: flex-start;
  margin: 0 0 16px 0;
}
.content-img {
  img {
    width: 160px;
    height: 160px;
    overflow: hidden;
    margin-right: 16px;
    border-radius: 0 0 30% 0;
    object-fit: cover;
  }
}

.content-element {
  p {
    margin-top: 7px;
    text-align: justify;
  }
}

// 関東だ震災ページ-------------------------------
.gke_e-intensity {
  margin-top: 20px;
  margin-right: -16px;
}
.gke_e-intensity_img_scroll {
  margin-top: 10px;
  overflow-x: scroll;

  img {
    height: 600px;
  }
}
