body {
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, Arial, sans-serif;
  margin: 0 auto;
  font-size: 14px;
  background-color: #fff7af;
  max-width: 390px;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

p {
  color: #111009;
}

h1 {
  margin: 16px 0;
  color: #e8c334;
}

h2 {
  color: #111009;
  font-size: 30px;
  margin: 20px;
  text-align: center;
  letter-spacing: 0.5em;
  text-indent: 0.5em;
  font-weight: 100;
}

h3 {
  font-size: 15px;
  font-weight: 500;
  color: #111009;
  text-align: justify;
}

h4 {
  color: #111009;
  font-size: 27px;
  margin: -10px 0 0 0;
}

h5 {
  font-size: 20px;
  color: #111009;
}

.bousai-navi {
  margin: 0;
}

.navi-main {
  background-image: url(../bousai_images/bousai-obi.jpg);
  background-color: #e8c334;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  position: relative;
}

.yol-logo {
  margin: 0 auto;
}
.yol-logo img {
  margin: 0 0 0 50px;
  display: flex;
  justify-content: center;
  width: 150px;
}

.navi-sp-main {
  text-align: right;
  display: flex;
  justify-content: center;
  background-color: #111009;
}

.menu-sp {
  padding: 5px 16px;
  width: 30px;
}

#nav-sp {
  background-color: #e8c334;
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  height: 100vh;
  display: none;
  z-index: 100;
  opacity: 1;
}

.close {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 39px;
}

.menu-main {
  margin-top: 60px;
}

.menu {
  display: block;
  margin: 10px 20px 0 20px;
  height: 39px;
  font-size: 16px;
  font-weight: bold;
  color: black;
}

.footer-yol-logo {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: center;
}
.footer-yol-logo img {
  margin: 0 auto;
  padding: 10px;
  width: 120px;
}

#content-page {
  margin: 0 16px;
}

.lead {
  margin: 10px 0 0 0;
}

.credit {
  font-size: 10px;
  text-align: right;
  color: #111009;
  margin: 5px 0 0 0;
}

.photo-slide {
  position: relative;
  width: 358px;
  max-width: 100%;
  height: 230px;
  margin: 0 auto;
}

.slide-image {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: change-img 9s infinite;
}
.slide-image:nth-of-type(1) {
  animation-delay: 0s;
}
.slide-image:nth-of-type(2) {
  animation-delay: 3s;
}
.slide-image:nth-of-type(3) {
  animation-delay: 6s;
}

@keyframes change-img {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    z-index: -1;
  }
}
#top {
  width: 100%;
}

.top-main {
  display: block;
  position: relative;
  margin: 0 16px;
}

.bousai_logo {
  text-align: right;
}
.bousai_logo img {
  width: 200px;
}

.bousai_h3 {
  margin: 0;
}
.bousai_h3 h3 {
  font-size: 14px;
}

#menu {
  margin-top: 50px;
}

.content-menu-main {
  display: block;
  margin: 0 16px;
}

.content {
  display: flex;
  align-items: flex-start;
  margin: 0 0 16px 0;
}

.content-img img {
  width: 160px;
  height: 160px;
  overflow: hidden;
  margin-right: 16px;
  border-radius: 0 0 30% 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.content-element p {
  margin-top: 7px;
  text-align: justify;
}

.gke_e-intensity {
  margin-top: 20px;
  margin-right: -16px;
}

.gke_e-intensity_img_scroll {
  margin-top: 10px;
  overflow-x: scroll;
}
.gke_e-intensity_img_scroll img {
  height: 600px;
}/*# sourceMappingURL=bousai.css.map */